bin/
obj/
App_Data/
*.user
*.suo
TestResults/
TMS/Images/AudioVideoResources/
TMS/Attachments/

/TMS.sln.DotSettings
/TMS/Head/Images/AudioVideoResources/
/TMS/Content/tms/_css/.sass-cache
TMS/Content/tms/_css/tms.min.css
TMS/Content/tms/_css/tms.css.map
/packages/EntityFramework.6.1.2-beta2/tools/EntityFramework.PowerShell.Utility.dll
TMS/.bowerrc
TMS/node_modules/
Tools/grunt-css-anal/node_modules/
TMS/Content/tms/classes_analyse.tmp
TMS/Content/tms/views_analyse.tmp
TMSImageService/imagecache
/Backup
/.vs/config
*.orig
*.tmp
/EmploDevOps/.vs/config
/TMS/Content/tms/_css/tms2.min.css
IdentityServer/.vs/config/applicationhost.config
