<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AttributeMappingSection" type="EmploApiSDK.Logic.EmployeeImport.AttributeMappingSection, EmploApiSDK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <AttributeMappingSection>
    <AttributeMapping>
      <add name="NameId" value="userPrincipalName" />
      <add name="Email" value="userPrincipalName" />
      <add name="FirstName" value="givenName" />
      <add name="LastName" value="sn" />
      <add name="Position" value="title" />
      <add name="PositionLevel" value="" />
      <add name="OfficeAddress" value="physicalDeliveryOfficeName" />
      <add name="OfficeAddress_1" value="" />
      <add name="OfficeAddress_2" value="" />
      <add name="OfficeAddress_3" value="" />
      <add name="Unit" value="department" />
      <add name="Company" value="company" />
      <add name="DateOfBirth" value="" />
      <add name="EmploymentStatus" value="" />
      <add name="EmploymentDate" value="whenCreated" />
      <add name="Gender" value="" />
      <add name="ManagerDistinguishedName" value="manager" />
      <add name="DistinguishedName" value="distinguishedName" />
      <add name="UnitPath" value="extensionAttribute11" />
      <add name="PermissionRole" value="$(firstOrganizationalUnit)" />
    </AttributeMapping>
  </AttributeMappingSection>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <appSettings>

    <!-- Change [mycompany] to proper emplo instance name -->
    <add key="EmploUrl" value="https://[mycompany].emplo.com" />

    <!-- emplo user login. Import will be made on behalf of this user. This user needs to have permissions for editing Employees' data
    and changing Employees' permissions. Any valid user account can be used, but we recommend to contact emplo support to create special technical 
    account for the purpose of importing data -->
    <add key="Login" value="example@example.com" />

    <!-- emplo user password -->
    <add key="Password" value="Ex@mplePa$sw0RD" />
    
    <!-- Active Directory host -->
    <add key="EndpointAddress" value="activedirectory.mycompany.local" />
    
    <!-- Active Directory port -->
    <add key="EndpointPort" value="389" />
    
    <!-- Active Directory connection: SSL -->
    <add key="SslConnectionRequired" value="False" />
    
    <!-- Query for getting users from Active Directory. Default query below takes all objects in AD of type User -->
    <!-- Special characters like "&" must be XML-encoded as "&amp;" -->
    <add key="Query" value="(samAccountType=805306368)" />

    <!-- Available options: CreateOnly, UpdateOnly, CreateOrUpdate -->
    <!-- CreateOnly - existing users won't be updated, only new accounts will be created -->
    <!-- UpdateOnly - new accounts won't be created, only users already existing in emplo will be updated -->
    <!-- CreateOrUpdate - new account will be created and existing users will be updated -->
    <add key="ImportMode" value="CreateOrUpdate" />
    
    <!-- Defines how many employees are imported in one request to API, should be set to reasonably small value to avoid timeouts -->
    <add key="ChunkSize" value="5" />

    <!-- If set to True, new Employees after first login will be redirected to a registration form and will be asked to fill missing data (eg. photo) -->
    <add key="RequireRegistrationForNewEmployees" value="False" />
    
    <!-- Block user account in emplo if the user is not present on the list returned by Query. Only users with external NameId will be blocked -->
    <add key="BlockSkippedUsers" value="False" />

    <!-- Dismiss user from emplo if the user is blocked by finish import action. This action only affects blocked users. If flag BlockSkippedUsers is disabled this flag has no effect. -->
    <add key="DismissBlockedUsers" value="False" />
    
    <!-- Permanent remove user from emplo if the user is blocked by finish import action. This action only affects blocked and dismissed users. If flag BlockSkippedUsers or DismissBlockedUsers is disabled this flag has no effect. 
    BE CAREFUL !!! RESULT OF THIS OPERATION IS PERMANENT AND CANNOT BE UNDONE !!!
    -->
    <add key="PermanentRemoveBlockedUsers" value="False" />
    
    <!-- Dry run mode allows to print data from AD to a log file without sending data to emplo -->
    <add key="DryRun" value="True" />

    <!-- Instead of importing from AD, it is possible to import from file, sample-data.json file is included as an example -->
    <!-- Specify a file path here for import from file -->
    <add key="ImportFromFilePath" value="" />

    <!-- Serilog rolling file configuration -->
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\import\{Date}.txt" />
    <add key="serilog:write-to:RollingFile.shared" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
